## -----------------------------------------------------------------------------
## General filetype exclusions.

##
results

## Large image files
*.tif
*.fits
*.png
*.bmp
*.jpg
*.jpeg
*.nc

## Emacs
*~
*#

## Python
*.pyc
__pycache__

## System files to ignore.
*.DS_Store
/Icon?

## IDEs
.idea
