## -----------------------------------------------------------------------------
## General filetype exclusions.

##
results
archive

## Data files
*.nc

## Large image files
*.tif
*.fits
*.png
*.bmp
*.jpg
*.jpeg

## Emacs
*~
*#

## Python
*.pyc
__pycache__

## System files to ignore.
*.DS_Store
/Icon?

## IDEs
.idea
